on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0' # Every Sunday at midnight
  push:
    branches: [main]

jobs:
  debian:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        base: [debian]
        tag: [buster, bullseye, bookworm]
        suffix: ["", "-slim"]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: lindenlab/${{ matrix.base }}-s6
          flavor: |
            latest=false
            prefix=${{ matrix.tag }}-
            suffix=${{ matrix.suffix }}
          tags: |
            type=raw,value=${{ matrix.tag }}${{ matrix.suffix}},prefix=,suffix=
            type=schedule
            type=ref,event=branch,enable=${{ github.ref != 'refs/heads/main' }}
            type=ref,event=pr

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        if: github.ref == 'refs/heads/main'
        with:
          username: ${{ secrets.SHARED_DOCKERHUB_USER }}
          password: ${{ secrets.SHARED_DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: ${{ github.ref == 'refs/heads/main' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64
          build-args: |
            BASE=${{ matrix.base }}:${{ matrix.tag }}${{ matrix.suffix}}

      - name: Docker Hub Description
        uses: secondlife-3p/dockerhub-description@v4
        if: github.ref == 'refs/heads/main'
        with:
          username: ${{ secrets.SHARED_DOCKERHUB_USER }}
          password: ${{ secrets.SHARED_DOCKERHUB_TOKEN }}
          repository: lindenlab/${{ matrix.base }}-s6
          short-description: S6 overlay on ${{ matrix.base }}
